@import 'page/login.scss',
'page/app.scss',
'page/signup.scss',
'page/verify.scss',
'page/forgotpassword.scss','page/project.scss';


@font-face {
    font-family: 'NoirPro';
    src: url('../fonts/NoirPro-Medium.eot')    
    url('../fonts/NoirPro-Medium.woff') format('woff'),
    url('../fonts/NoirPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NoirPro';
    src: url('../fonts/NoirPro-Light.eot') format('embedded-opentype'),
    url('../fonts/NoirPro-Light.woff') format('woff'),
    url('../fonts/NoirPro-Light.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NoirPro';
    src: url('../fonts/NoirPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NoirPro-Regular.woff') format('woff'),
    url('../fonts/NoirPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NoirPro';
    src: url('../fonts/NoirPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NoirPro-SemiBold.woff') format('woff'),
    url('../fonts/NoirPro-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NoirPro';
    src: url('../fonts/NoirPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NoirPro-Bold.woff') format('woff'),
    url('../fonts/NoirPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NoirPro';
    src: url('../fonts/NoirPro-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NoirPro-Heavy.woff') format('woff'),
    url('../fonts/NoirPro-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
  }

  body{
    font-family: 'NoirPro', sans-serif !important;
}