.forgotPasswordPage {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    margin-top: 10px;
  }
  
  .forgotPasswordPage-card {
    max-width: 100%;
    width: 450px;
    margin-bottom: 14px;
    border-radius: 10px !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .forgotPasswordPage-card-content {
    background-color: #000000;
    flex: 0 1 300px;
    height: 150px;
    position: relative;
    background: #000000 no-repeat center;
    background-size: cover;
  
    &::after {
      display: inline-block;
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.85);
    }
  }
  
  .forgotPasswordPage-card-content-imgSection {
    display: flex;
    min-width: none;
    flex: 1px;
    flex-direction: column;
    position: relative;
    z-index: 1;
    height: 100%;
    justify-content: center;
    color: white;
  
    &-logo {
      display: flex;
      justify-content: center;
    }
  
    &-link {
      display: flex;
      justify-content: center;
      color: #1fa2ff;
      text-align: center;
    }
  }
  
  .forgotPasswordPage-card-contentForm-heading {
    color: inherit;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 10px;
  }

  .forgotPasswordPage-card-contentForm-heading-name{
    font-size: 18px !important;
    font-family: 'NoirPro' !important;
    font-weight: 600 !important;
    color: #475259 !important;
  }
  
  .forgotPasswordPage-card-contentForm-info {
    margin-bottom: 5px !important;
    font-size: small !important;
    font-family: 'NoirPro' !important;
  }
  
  .forgotPasswordPage-card-contentForm-form-otp {
    margin-bottom: 30px;
    margin-top: 10px;
  }
  
  .forgotPasswordPage-card-contentForm-form-password {
    margin-bottom: 30px;
    margin-top: 10px;
  }
  
  .forgotPasswordPage-card-contentForm-form-button {
    margin-bottom: 14px;
    font-family: 'NoirPro' !important;
    background-color: #1FA2FF !important;
    color: white !important;
    font-weight: 400 !important;
  }
  
  .forgotPasswordPage-card-contentForm-form-timer {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .forgotPasswordPage-card-contentForm-form-resendOtp{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-family: 'NoirPro' !important;
    background-color: #1FA2FF !important;
    color: white !important;
    font-weight: 400 !important;
  }