.loginPage {
  max-width: 100%;
  height: 95vh;
  padding: 4px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage-card {
  display: flex;
  min-width: none;
  width: 750px;
  border-radius: 10px !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
}

.loginPage-card-content {
  flex: 0 1 250px;
  position: relative;
  background: #000000 no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    display: inline-block;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

.loginPage_Card_Content_imgSection {
  display: flex;
  min-width: none;
  flex: 1px;
  flex-direction: column;
  position: relative;
  z-index: 1;
  height: 100%;
  justify-content: center;
}

.loginPage-card-content-imgSection-logo {
  display: flex;
  justify-content: center;
}

.loginPage-card-contentForm {
  flex: 1;
  padding: 20px !important;

  &-form {
    text-align: left;

    &-heading {
      font-family: "NoirPro" !important;
      margin-bottom: 20px !important;
      font-weight: 600 !important;
      color: #475259 !important;
    }

    &-Email {
      margin-top: 20px;
      margin-bottom: 24px;
    }

    &-Password {
      margin-top: 30px;
      margin-bottom: 21px;
    }

    &-cardAction {
      width: 100%;
      padding: 0 !important;

      &-button {
        font-size: large !important;
        padding: 0 !important;
        font-family: "NoirPro" !important;
        margin-top: 10px;
        background-color: #1fa2ff !important;
        color: white !important;
        font-weight: 400 !important;
      }

      &-forgetPassword {
        text-align: center;
        margin-bottom: 10px !important;
        margin-top: 5px !important;
      }

      &-link {
        text-align: center;
        font-family: "NoirPro" !important;
      }
    }
  }
}

.Link {
  color: #1fa2ff;
  font-family: "NoirPro" !important;
}
