.projectPage {
  max-width: 100%;
  padding: 20px;
  &-box {
    display: flex;
    column-gap: 30px;

    &-welcome {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      justify-content: center;
      align-items: center;
      margin-top: 200px;

      &-title {
        font-family: "NoirPro" !important;
        font-size: 20px !important;
        color: #475259 !important;
      }
      &-button{
          font-size: 18px !important;
          font-weight: 400 !important;
          font-family: "NoirPro" !important;
          background-color: #1fa2ff !important;
          color: white !important;
      }
    }
   
  }
  &-viewProject {
    &-box {
      display: flex;
      column-gap: 30px;

      &-welcome {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        justify-content: center;
        align-items: center;

        &-title {
          font-family: "NoirPro" !important;
          font-size: 20px !important;
          color: #475259 !important;
        }
        &-button {
          font-size: 40px !important;
          font-weight: bold !important;
          font-family: "NoirPro" !important;
          background-color: #1fa2ff !important;
          color: white !important;
        }
      }
    }

    &-card {
      display: flex;
      flex-direction: column;
      height: 250px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 230px !important;
      box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
        rgba(9, 30, 66, 0.13) 0px 0px 1px 1px !important;

      &-create {
        text-align: center;
        font-size: 40px !important;
        font-weight: bold !important;
        font-family: "NoirPro" !important;
        color: #1fa2ff !important;
      }
      &-text {
        text-align: center;
        font-size: 20px !important;
        font-family: "NoirPro" !important;
        color: #475259 !important;
      }
      &-favorite {
        display: flex;
        flex-direction: column;
        height: 250px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 230px !important;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
          rgba(9, 30, 66, 0.13) 0px 0px 1px 1px !important;
      }
    }
  }
}

.modal {
  &-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: white !important;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    height: 530px;
  }
}

.createProject {
  &-form {
    &-title {
      font-size: 30px !important;
      font-family: "NoirPro" !important;
      font-weight: 600 !important;
    }
    &-outBox{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        font-family: "NoirPro" !important;
        justify-content: space-around;
    }
    &-innerBox{
        margin-top: 10px;
        display: flex;
        font-family: "NoirPro" !important;
        flex-direction: column;
        justify-content: space-around;
    }
    &-pName,
    &-pDescription,
    &-pIdentifier
    {
        font-family: "NoirPro" !important;
        margin-bottom: 2px;
    }
    &-actionButtion{
        display: flex;
        flex-direction: column;
        margin-top: 40px;

        &-tagButton{
            font-family: NoirPro, Arial !important;
            font-weight: normal !important;
            font-size: 16px !important;
            background-color: #1fa2ff !important;
            color: white !important;
        }
        &-controler{
            margin-top: 20px;
            display: flex;
            column-gap: 20px;
            justify-content: flex-end;
            &-submit{                
                font-family: NoirPro, Arial !important;
                background-color: #1fa2ff !important;
                font-weight: normal !important;
                font-size: 16px !important;
            }
            &-cancel{
                font-family: NoirPro, Arial !important;
                font-weight: normal !important;
                font-size: 16px !important;
            }
        }
    }
  }
}

.tag{
    &-textField{
        width: 200px;
    }
}
.nonscroll {
  width: 100%;
  height: 330px;
}

.scroll {
  width: 100%;
  height: 330px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-align: end;
}
.scroll_fav {
  width: 100%;
  height: 285px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-snap-align: end;
}
.scroll_fav::-webkit-scrollbar {
  width: 10px;
  height: 11px;
}

.scroll_fav::-webkit-scrollbar-thumb {
  background-color: #c9cacb;
  border-radius: 10px;
}

.scroll_fav::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.nonscroll_fav {
  width: 100%;
  height: 260px;
}

.Error{
    color: red;
    margin-bottom: 0;
}

.projectList{
    &-box{
        display: flex;
        justify-content:space-between;
        margin-bottom: 20px;
        margin-top: 20px;

        &-title{
            margin-top: 30px !important;
            display:flex;
            justify-content: center;
            align-items: center;
            column-gap: 5px;
            font-size: 20px !important;
            font-family:NoirPro !important;
            font-weight: 600 !important;

            &-info{
                padding: 10px;
                border-radius: 10px;
                background-color: white;
                color: black;
                font-family: NoirPro, Arial;
                display: flex;
                flex-direction: column;
                row-gap: 20px;

                &-heading{
                    font-weight: bold !important;
                    font-size: 18px !important;
                    font-family: NoirPro, Arial !important;
                }
                &-content{
                    margin-top: 20px !important;
                }
            }
        }

        &-search{
            border-radius: 40px !important;
            height: 40px !important;
            width: 300px !important;
            margin-top: 30px !important;
        }
    }
}

.projectItemPage{
    margin-bottom: 10px !important;
    border-radius: 10px !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;

    &-innerComponent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-pName{
        font-weight: 600 !important;
        font-size: 18px !important;
        font-family: NoirPro, Arial !important;
    }
}

.ProjectItem-Icon{
    font-size: 20px !important;
    margin-right: 10px;
}
.emptyProjectList{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.emptyProjectList h4{
font-size: 23px;
font-weight: 400;
font-family: monospace;}
.projectPage-viewProject-box{
  display: flex;
    column-gap: 50px;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 0px 0px 0px 5px;
}