.signupForm {
  max-width: 700px;
  margin: auto;
}

.signupForm-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px !important;
  min-width: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
}

.signupForm-card-content {
  flex: 0 1 300px;
  position: relative;
  background: #000000 no-repeat center;
  background-size: cover;
  padding: 30px !important;

  &::after {
    display: inline-block;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
  }
}

.signupForm-card-content-imgSection {
  color: white;
  display: flex;
  min-width: 0;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  height: 100%;

  &-text {
    margin-bottom: 16px;
  }

  &-logo {
    display: flex;
    justify-content: center;
  }
}

a {
  text-decoration: none !important;
  color: #1fa2ff;
  width: 100px;
  font-family: 'NoirPro'!important;
}

.signupForm-card-contentForm {
  flex: 1;
  padding: 32px !important;

  &-form {
    text-align: left;

    &-heading {
      margin-top: 8px;
      margin-bottom: 24px;
      color: inherit;
      font-weight: 500;
      font-family: 'NoirPro'!important;
      
      &-name{
        font-family: 'NoirPro'!important;
        font-weight: 600 !important;
        color: #475259 !important;
      }
    }

    &-firstNameBox,
    &-lastNameBox,
    &-emailNameBox,
    &-passwordBox,
    &-captchaBox {
      margin-top: 8px;
      margin-bottom: 16px;
    }

    &-button {
      margin-bottom: 24px !important;
      font-family: 'NoirPro'!important;
      font-size: large !important;
      background-color: #1FA2FF !important;
      color: white !important;
      font-weight: 400 !important;
    }

    &-singinLink {
      display: flex;
      justify-content: center;
      font-family: 'NoirPro'!important;
      cursor: pointer;
    }

    &-link{
      text-align: center;
      font-family: 'NoirPro'!important;
      font-weight: 100;
    }

    &-policy{
      font-family: 'NoirPro'!important;
      font-weight: 100;
    }
  }
}


@media (min-width: 768px) {
  .signupForm-card {
    flex-direction: row;
  }
}
