.otpVerify {
  width: 700px;
  max-width: 100%;
  margin: auto;
  padding: 32px;
}

.otpVerify-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px !important;
  min-width: 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
}

.otpVerify-card-content {
  flex: 0 1 300px;
  position: relative;
  background: #000000 no-repeat center;
  background-size: cover;

  &::after {
    display: inline-block;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
  }
}

.otpVerify-card-content-imgSection {
  color: white;
  display: flex;
  min-width: 0;
  flex: 1;
  flex-direction: column;
  position: relative;
  justify-content: center;
  z-index: 1;
  height: 100%;

  &-logo {
    display: flex;
    justify-content: center;
  }
}

.otpVerify-card-contentForm {
  flex: 1;
  padding: 16px;

  &-header{
    font-family: 'NoirPro'!important;
    font-weight: 600 !important;
    color: #475259 !important;
  }

  &-form {
    text-align: left;

    &-error {
      color: red;
    }

    &-button {
      margin-top: 24px !important;
      margin-bottom: 24px !important;
      font-family: 'NoirPro'!important;
      background-color: #1FA2FF !important;
      color: white !important;
      font-weight: 400 !important;
    }

    &-resend {
      display: flex;
      justify-content: center;
      font-weight: bold;
      
      &-link{
        font-family: 'NoirPro'!important;
        font-weight: 400 !important;
      }
    }

    &-resendOtp {
      display: flex;
      justify-content: center;
      cursor: pointer;
      color: #7352c7;
    }
  }
}

@media (min-width: 768px) {
  .otpVerify-card {
    flex-direction: row;
  }
}
